.body {
    margin: 0;
    box-sizing: border-box;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgb(9, 32, 41);
}

.header_logo_ {
    width: 120px;
    height: 20px;
    padding-left: 140px;
}

.header_logo_field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    object-fit: contain;
    margin: 0;
    width: 1440px;
    height: 80px;
}

.main_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 800px;
    background-color: rgb(6, 24, 31);
}

h2 {
    display: flex;
    justify-content: center;
    align-items: start;
    color: white;
    font-size: 50px;
}

.gallery {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}
.picture-card {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: none;
    padding: 0;
    background: none;
    border-radius: 20px;
    border: lightskyblue 4px solid;
}

.picture-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.picture-card:hover {
  cursor: pointer;
  background-color: white;
  border: 1px solid;
  transition: 0.4s ease;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: rgb(9, 32, 41);
    width: 100%;
    height: 200px;
    top: -1px;
}

.footer_logo {
    width: 200px;
    height: 60px;
    margin-top: 50px;
}